<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>    
  <div class="ui fixed inverter menu">
    <div class="ui container">
      <div class="header item">
        <a href="/">Blog Site</a>
      </div>
      <a href="/blogs" class="item">Home</a>
      <a href="/blogs/create" class="item">New Post</a>
    </div>
  </div>