<%- include('partials/header'); %>
<div class="ui main container segment">
  <h1>This is the Home Page of Blog App</h1>
  <a href="/blogs">Go to Blogs Page -></a>
</div>
<%- include('partials/footer'); %>
